.el-button--primary{
    color: #FFF;
    background-color: #67c23a;
    border-color: #67c23a;
}

.el-button--primary:focus,.el-button--primary:hover{
    color: #FFF;
    background-color: #89c969;
    border-color: #89c969;
}
.el-button--text{
    color: #67c23a;
}
.el-button--text:hover{
    color: #89c969;
}
.el-date-editor
{
    width: 100% !important;
}
.el-upload-list__item-name
{
    position: relative !important;
    max-width: 200px !important;
}
.el-dialog{
    margin-top: 10vh !important;
  }
  .alg-left
  {
      float: left;
  }
  .alg-right
  {
      float: right;
  }
  .txt-left
  {
    text-align: left !important;
  }
  .txt-right input
  {
    text-align: right !important;
    padding-right: 70px !important;
  }
  .pad-left-10
  {
      padding-left: 10px;
  }
  .pad-left-20
  {
      padding-left: 20px;
  }
  .display-flex
  {
      display: flex;
  }
  .select-wid-100per
  {
      width: 100%;
  }
  .hide
  {
      display: none !important;
  }
  .ul-file
{
    list-style: none; 
    margin: 0;  
}
.ul-file li 
{
    display: flex;
}
.download-file{
    color: #409eff !important;
    background:none !important;
    border: none !important;
    cursor: pointer !important;    
    max-width: 90% !important;
}
.download-file:hover{
   text-decoration: underline;
}
.download-file span{
    overflow: hidden;
    white-space: pre-wrap;
}
.ico-delete-file
{    
    width: 15px;
    height: 15px;
    padding: 0px 0 0 0;
    margin-top: 5px;
    margin-bottom: -5px;
    position: relative;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #ffffff;
    background-size: cover;
    background-image: url(../assets/icon/wrong-icon-small.png);
    background-position: left bottom;
}
.brk-word
{
word-wrap: break-word;
}
input:disabled::placeholder
{
opacity: 0;
}
.pad-top-10
{
    padding-top: 10px !important;
}
.pad-top-20
{
    padding-top: 20px !important;
}
.pad-top-30
{
    padding-top: 30px !important;
}
.pad-bottom-10
{
    padding-bottom: 10px !important;
}
.div-border
{
    border:1px #409eff solid;
    padding: 20px;
}
.radio-left{
    width: 50%;
    word-break: break-word;
    white-space: pre-wrap !important;
}
.radio-right{    
    position: absolute !important;
}
.el-table .warning-row {
    background: #f8562d;        /*#f77e60;*/
    color: #ffffff;
    font-weight: bold;
}
.el-table .success-row {
background: rgb(252, 230, 190);
}
.el-table .other-row {
background: #f8562d;        /*#f77e60;*/
color: #ffffff;
font-weight: bold;
}
tr.el-table__row--level-0{
    padding-top: 0px;
padding-bottom: 0px;
}
tr.el-table__row--level-0 td {
height: 23px !important;
padding-top: 0px;
padding-bottom: 0px;
}
/********DHTNMT*******/

.el-submenu__title{
    color: #67c23a !important;
    background-color: #f5f5f5;
}
.el-menu-item {
    color: #67c23a !important;
    background-color: #f5f5f5;
}
li.el-menu-item .is-active {
    background-color: #ffffff;
}

.is-active>.el-submenu__title{
    /*color: #67c23a!important;*/
}
#app .sidebar-container .el-submenu .nest-menu, #app .sidebar-container{
    color: #67c23a!important;
}
#app .sidebar-container .el-submenu .nest-menu, #app .sidebar-container .is-active {
    color: #67c23a !important;
}
#app .sidebar-container .is-active>.el-submenu__title {
    color: #67c23a!important;
}
#app .sidebar-container .el-submenu .el-menu-item, #app .sidebar-container .nest-menu .el-submenu>.el-submenu__title {
    background-color: #f5f5f5;
}
.sidebar-logo-container,.topbar{
    background-color: #67c23a !important;
}
.header-search-select .el-input__inner{
    border: 1px solid #67c23a !important;
}
.dashboard-editor-container, .el-form-item__label{
    color: #67c23a !important;
}
.el-table th, .el-table thead.is-group th {
    background-color: #67c23a!important;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #e8f4ff;
    color: #67c23a;  /*#46a6ff;*/
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #67c23a;
    border-color: #67c23a;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #67c23a;
}
.el-pager li.active {
    color: #67c23a;
    cursor: default;
}
.el-select-dropdown__item.selected {
    color: #67c23a;
    font-weight: 700;
}
.method-label-color {
    width: 85px !important;
    text-align: center !important;
    margin-right: 10px !important;
}
.dropdown-table{
    font-weight: bold;
}
.keytext{
    text-align: center;
    background-color: #67c23a;
}
.keyMenu, keyMenu:disabled {
    text-align: center;
    color: #606266;
    background-color: #42ba83;
}
.el-dropdown-menu__item.is-disabled {
    cursor: default;
    color: #606266;
    pointer-events: none;
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
    color: #FFF;
    background-color: #c1e8ae;
    border-color: #c1e8ae;
}
.el-transfer-panel__item:hover {
    color: #67c23a;
}
.method-label-color {
    width: 85px !important;
    text-align: center !important;
    margin-right: 10px !important;
}
.collapse-filter{
    margin-bottom: 10px;
}
.el-tabs__item.is-active, .el-tabs__item:hover {
    /* color: #67c23a; */
}
.el-link--inner span{
    /* color: #67c23a !important; */
}
.content-notify{
    color: #303133;
}
.lab-booking{
    min-height: 56px;
    width: 10%;
    margin: 1px;
}
.bg-normal{
    background-color: #B3E5FC;
}
.bg-busy{
    background-color: rgb(255, 205, 210);
}
.bg-registration{
    background-color: rgb(255, 216, 178);
}
.lab-booking .lab-register{
    text-align: center;
    color: #235490;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    line-height: 16px;
}
.lab-list{
    clear: both;
    min-height: 20px;
    background-image: url("@/assets/icon/icon-flask-1.png");
    background-position: right;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.lab-count{
    font-size: 11px;
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
}
.bg-lab{
    background-image: url("@/assets/icon/flask.png");
}
.time-picker{
    width: 50% !important;
}
/*#235490  #B3E5FC*/
.el-radio__input.is-checked .el-radio__inner {
    border-color: #67c23a;
    background: #67c23a;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #606266;
}
#tab-4{
    padding-right: 20px;
}
.el-upload-dragger{
    width: 50px;
    height: 30px;
}

.download-file{
    color: #409eff !important;
    background:none !important;
    border: none !important;
    cursor: pointer !important;    
    /* max-width: 90% !important; */
}
.download-file:hover{
   text-decoration: underline;
}
.download-file span{
    overflow: hidden;
    white-space: pre-wrap;
}
.el-upload-list__item-delete{
    font-size: 14px !important;
    display: block;
}
div.dlg-preview-img{
    z-index: 9999 !important;
}
img.el-upload-list__item-thumbnail{
    margin-top: -20px;
    cursor: pointer;
}
.el-input.is-disabled .el-input__inner, .el-textarea.is-disabled .el-textarea__inner {   
    /* color: #C0C4CC; */
    color: #909399;
    cursor: not-allowed;
}